.container-dieta {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4em;
  height: 100%;
  font-family: "poppins", sans-serif;
  color: #333;
}
.container-dieta .row {
  height: 640px;
  justify-self: stretch;
  background-color: #fcf6f5ff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.container-dieta .row img {
  grid-row-start: 1;
  grid-row-end: 4;
  width: 280px;
  height: 150px;
  justify-self: stretch;
}
.container-dieta .row p {
  place-self: center;
  color: #555;
  font-size: 16px;
}
.container-dieta .row .nume {
  text-transform: uppercase;
  font-size: 30px;
  color: #333;
  text-align: center;
}
.container-dieta .row h5 {
  place-self: center;
  text-align: center;
}
.container-dieta .row form {
  display: grid;
  grid-gap: 0.1em;
}
.container-dieta .row form input {
  width: 70%;
  left: 0;
  top: 0;
  border: none;
  background: transparent;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
  border-bottom: 3px solid #38d39f;
  place-self: center;
}
.container-dieta .row form input:focus {
  border: none;
  outline: none;
  border-bottom: 3px solid #38d39f;
}
.container-dieta .row form .button {
  grid-row-start: 9;
  grid-row-end: 10;
  display: block;
  width: 70%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s;
  place-self: center;
}

.container-dieta .row form .button:hover {
  background-position: right;
}
