.container-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.welcome {
  font-size: 60px;
  padding: 50px;
  font-family: "Poppins", sans-serif;
}
.container-index img {
  height: 400px;
}
.notwelcome {
  font-size: 30px;
  padding: 50px;
  font-family: "Poppins", sans-serif;
  align-self: center;
  padding-top: 150px;
}
.container-index .submit {
  width: 200px;
  font-size: 1.2rem;
  text-align: center;
  display: inline;
  background-image: linear-gradient(to right, #555, #777, #999);
}
